<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>

    <!-- Script  -->
    <script defer src="js/script.js"></script>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Fontawesome  -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous'/>
    <!-- Style  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="container" id="root">
        <div id="carousel">
            <!-- Metto la freccia per andare indietro nel carousel  -->
            <i id="prev" @click="currentIndex--" class="fa-solid fa-circle-arrow-left"></i>

            <!-- Qui metto il container delle immagini  -->
            <div id="gallery">
                <img v-for="(pic, i) in pictures" :src="pic.image" :alt="pic.title" v-show="currentIndex === i">
            </div>

            <!-- Qui metto la freccia per andare avanti nel carousel  -->
            <i id="next" @click="currentIndex++" class="fa-solid fa-circle-arrow-right"></i>

        </div>

        <div id="thumbnails">
            <img v-for="(pic, i) in pictures" :src="pic.image" :alt="pic.title" :class="{'active': i === currentIndex}">
        </div>
    </div>
</body>
</html>